{% extends 'torrent/base.html' %}



{% block title %}
{{ torrent.type }} {{ torrent.name }}
{% endblock %}

{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src={{ torrent.image.url }} alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ torrent.name }}</h1>
        <p class="lead">{{ torrent.description }}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <form action="{% url 'download' torrent.id %}">
                <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2">Скачать</button>
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}